

body{
  background-color: rgb(32, 32, 32);
  font-family: sans-serif;
}

h1{
  color: white;
}
.search-header{
  margin-top: 48px;
  color: aquamarine;
}
.search-table{
  background-color: rgba(127, 255, 212, 0.502);
  min-width: 960px;
  min-height: 60px;
}
.search-head{
  background-color: aquamarine;
}



.team-header{
  color: rgb(218, 0, 233);
}

.team-table{
  background-color: rgba(197, 0, 211, 0.499);
  height: fit-content;
  width: fit-content;
}

.team-head{
  background-color: rgb(218, 0, 233);
}
/* .team-column{
  background-color: rgb(218, 0, 233);
  padding: 4px 8px;
} */